* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

#about-us {
    width: 70%;
    margin: auto;
    margin-top: 64px;
    margin-bottom: 64px;
    padding: 48px;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 0 0 16px 4px #77777777;
}