@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/font-awesome/scss/font-awesome.scss';
* {
    --color-1: #250E28;
    --color-2: #F4EDDA;
    --color-3: #ED4732;
    --color-4: #F2DAC2;
    --color-5: #F4E8C0;
    --color-6: #F4E4C0;
    --color-7: #F9C311;
    --color-8: #EB9A20;
    box-sizing: border-box;
    font-family: roboto, comfortaa, Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

.fa {
    padding: 13px;
    font-size: 25px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 100%;
    background-color: var(--color-1);
    color: white;
    // #f06446dd
}

.fa-facebook {
    padding: 14px;
}

.fa:hover {
    opacity: 0.7;
}

footer {
    width: 100%;
    padding: 32px;
    background: linear-gradient(0deg, var(--color-5), transparent);
}

footer #main-box {
    padding: 16px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    background: linear-gradient(180deg, var(--color-4), transparent);
}

#main-box .column {
    flex: 1 1 100%;
    min-width: 250px;
    max-width: 400px;
    text-align: left;
    padding: 16px;
    color: black;
}

.column>h2 {
    color: var(--color-8);
}

@media (max-width: 880px) {
    #main-box .column {
        text-align: center;
    }
}

.heading-para {
    color: var(--color-3);
}

footer a {
    color: black;
    text-decoration: none;
}