@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/font-awesome/scss/font-awesome.scss';

* {
    --color-1: #250E28;
    --color-2: #F4EDDA;
    --color-3: #ED4732;
    --color-4: #F2DAC2;
    --color-5: #F4E8C0;
    --color-6: #F4E4C0;
    --color-7: #F9C311;
    --color-8: #EB9A20;

    box-sizing: border-box;
    font-family: roboto, comfortaa, Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

section h1 {
    text-align: center;
    margin: 0px;
    padding: 16px;
    width: 100%;
    background: linear-gradient(30deg, var(--color-8), var(--color-7));
    color: black;
    font-size: 7vw;
}

.container-flexible {
    width: 100%;
    max-height: 100vh;
    position: relative;
    color: white;
    overflow: hidden;
}

#section-intro #background {
    width: 100%;
    height: auto;
    filter: blur(2px) grayscale(1);
}

#section-intro p {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 5%;
    color: white;
}

#section-intro #full-form {
    top: 20%;
    font-size: 4vw;
}

#section-intro #abbrevation {
    top: 20%;
    font-size: 18vw;
    left: 4%;
    background: -webkit-linear-gradient(45deg, var(--color-3), var(--color-1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#section-intro #tag-line {
    top: 60%;
    font-size: 4vw;
    font-style: italic;
}

#section-intro button {
    z-index: 1;
    position: absolute;
    top: 75%;
    left: 5%;
    border: 1px solid var(--color-8);
    background: var(--color-7);
    color: var(--color-1);
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 2vw;
    font-weight: bold;
}

#section-intro button:hover {
    background: var(--color-1);;
    color: var(--color-7);
}

#section-intro #logo {
    display: none;
}

@media screen and (min-width: 1000px) {
    #section-intro #full-form {
        font-size: 40px;
    }
    #section-intro #abbrevation {
        font-size: 180px;
    }
    #section-intro #tag-line {
        font-size: 40px;
    }
}

@media screen and (min-width: 1200px) {
    #section-intro #logo {
        display: inline-block;
        width: 32%;
        height: auto;
        position: absolute;
        top: 15%;
        right: 5%;
        border-radius: 100%;
        background: var(--color-1);
        padding: 8px;
    }
}

#section-past-info #info-container {
    color: #000000;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 32px 0px;
}

#info-container .info-card {
    background: var(--color-2);
    width: 50%;
    padding: 4px;
    margin: 16px;
    box-shadow: 0 0 8px 2px #00000077;
    border-radius: 8px;
}

#info-container .info-card:hover {
    animation-name: container-up;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.info-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.info-card p {
    text-align: center;
    font-size: 20px;
    margin: 0px;
    padding: 4px;
}

@media (min-width: 600px) {
    #info-container .info-card {
        width: 32%;
    }
}

@media (min-width: 800px) {
    #section-past-info #info-container {
        padding: 64px 0px;
    }
    #info-container .info-card {
        width: 20%;
    }
}

#section-image-slider img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.slide-left-button,
.slide-right-button {
    position: absolute;
    z-index: 1;
    width: 16px;
    height: 16px;
    top: 50%;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
}

.slide-left-button {
    left: 4px;
    border-right: 16px solid var(--color-1);
}

.slide-right-button {
    right: 4px;
    border-left: 16px solid var(--color-1);
}

.slide-left-button:hover {
    border-right: 16px solid var(--color-3);
}

.slide-right-button:hover {
    border-left: 16px solid var(--color-3);
}

#section-video-slider #video-container {
    background-color: black;
    margin: 0px;
    padding: 0px;
}

#section-video-slider video {
    width: 100%;
    height: auto;
    z-index: -1;
    margin: 0px;
    padding: 0px;
    max-height: 100vh;
}

#section-sponsorship, #sponsorship-container {
    width: 100%;
    max-height: unset;
    position: unset;
    overflow: visible;
}

// #section-sponsorship h1 {
//     text-align: center;
//     margin: 0px;
//     padding: 16px;
//     width: 100%;
//     background: linear-gradient(30deg, var(--color-8), var(--color-7));
//     color: black;
// }

#section-sponsorship #sponsorship-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 64px;
}

#sponsorship-container .sponsorship {
    align-items: center;
    box-shadow: 0 0 8px 2px #00000077;
    border-radius: 8px;
    width: 256px;
    padding: 0px;
    margin: 0px 32px;
    margin-top: 32px;
    overflow: hidden;
}

#sponsorship-container .sponsorship:hover {
    animation-name: container-up;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes container-up {
    100% {
        box-shadow: 0 4px 16px 8px #00000077;
    }
}

#sponsorship-container .sponsorship .sponsor-image {
    object-fit: cover;
    width: 100%;
    height: 200px;
    padding: 2px;
}

#sponsorship-container .sponsorship .sponsor-title {
    background: #000000;
    color: white;
    width: 100%;
    padding: 16px 4px;
    margin: 0px;
    text-align: center;
}

// footer {
//     margin: 0px;
//     padding: 0px;
//     // background: var(--color-6);
// }

// footer #google-map-container, #contact-us-container {
//     width: 100%;
//     height: auto;
// }

// footer #google-map-container img {
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
// }

// footer #contact-us-container {
//     width: 100%;
//     padding: 32px 8px;
//     background: var(--color-5);
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
// }

// footer #contact-form .row {
//     // background: green;
//     display: flex;
//     flex-direction: row;
//     flex-wrap: wrap;
//     justify-content: center;
//     align-items: center;
//     font-size: 16px;
//     margin-bottom: 8px;
// }

// footer #contact-form label {
//     // background: blue;
//     text-align: right;
//     width: 30%;
//     padding-right: 8px;
// }

// footer #contact-form input {
//     // background: gray;
//     text-align: left;
//     width: 70%;
//     max-width: 256px;
// }

// footer #quick-links-container {
//     // background: linear-gradient(var(--color-5), var(--color-7));
//     background: var(--color-1);
// }

// footer #quick-links-container table {
//     text-align: center;
//     width: 100%;
// }

// footer #quick-links-container table td {
//     padding: 16px 8px;
//     border: 1px solid black;
//     background: var(--color-2);
// }

// footer #quick-links-container table tbody td:hover {
//     background: var(--color-7);
//     cursor: pointer;
// }

// footer #quick-links-container thead td {
//     background: var(--color-8);
//     font-weight: bold;
// }

// footer #credits {
//     background: black;
//     margin: 0px;
//     padding: 16px;
//     text-align: center;
// }

// footer #credits a {
//     color: white;
//     text-decoration: none;
// }

// footer #credits a:hover {
//     color: var(--color-3);
// }

// @media screen and (min-width: 700px) {
//     footer #footer-row {
//         display: flex;
//         flex-direction: row;
//         align-items: stretch;
//         justify-content: center;
//     }
//     #footer-row #google-map-container,
//     #contact-us-container {
//         flex-grow: 1;
//     }
//     footer #quick-links-container table {
//         width: 80%;
//         margin: auto;
//     }
//     footer #quick-links-container {
//         padding: 64px 0px;
//     }
// }
