#lb{
	position : fixed;
	top : 0px;
	left : 0px;
	height : 100%;
	width : 100%;
	background : white;
	z-index : 1;
}
#load_image{
	height : 150px;
	margin-top : calc(50% - 450px);
}
#loading_container{
	margin-top : 30px;
	width : 300px;
	height : 2.5px;
	background : #d6d2d7;
	text-align : left;
	overflow : hidden;
}
#loading_progress{
	height : 100%;
	width : 70%;
	box-shadow : 5px 5px 10px #261129;
	background : #240f27;
	animation : load 2s;
}
@keyframes load{
	from {width : 0%}
	to {width : 70%}
}
