body {
    margin: 0px;
}

.section {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: none;
}

#section1 {
    overflow: hidden;
}

#section1 #main {
    width: 50%;
    position: absolute;
    z-index: 1;
    height: 100%;
    overflow: hidden;
}

#section1 #main #title {
    color: #240f27dd;
    margin-top: 25px;
    margin-left: 50px;
    font-weight: bold;
    font-size: 48px;
}

#section1 #main #subtitle {
    font-size: 18px;
    color: #f06446dd;
    margin-top: 25%;
    margin-left: 50px;
    font-weight: bold;
}

#section1 #countdown {
    width: 370px;
    background: white;
    margin-left: 50px;
    margin-bottom: 20px;
}

@media (min-width: 500px) {
    #section1 #countdown {
        margin-left: 30px;
    }
}

#section1 .box {
    display: inline-block;
    width: 75px;
    height: 90px;
    margin-right: 10px;
    text-align: center;
}

#section1 .box div {
    font-size: 32px;
}

.title {
    color: #240f27dd;
    margin-top: 25px;
    margin-left: 50px;
    font-weight: bold;
    font-size: 48px;
}

.subtitle {
    font-size: 18px;
    color: #f06446dd;
    margin-top: 25%;
    margin-left: 50px;
    font-weight: bold;
}

#section2 {
    position: absolute;
    top: 100%;
}

#section2_container {
    margin-top: 10%;
}

#section2 .container {
    min-width: 120px;
    min-height: 150px;
    max-width: 400px;
    max-height: 400px;
    width: 20%;
    display: inline-block;
    margin-left: 2%;
    margin-top: 8px;
}

#section2 .container img {
    max-width: 60%;
}

#section2 .main {
    margin-left: 50px;
    width: calc(100% - 700px);
    height: 400px;
    display: inline-block;
    vertical-align: top;
    margin-top: 3%;
    text-align: left;
}

#section3 {
    position: relative;
    top: 100%;
    background: #240f27ee;
}

#section3_main {
    margin-top: 0px;
    height: 300px;
    width: 50%;
    margin-top: 50%;
    display: inline-block;
}

#section3_list {
    color: #ffffffaa;
    margin-left: 50px;
    margin-top: 50px;
    display: block;
}

#section3_list li {
    margin-top: 10px;
}

#section3_slide {
    width: 450px;
    float: right;
    display: inline-block;
    height: 450px;
    margin-right: 5%;
    overflow: hidden;
}

.section3_slide_element {
    width: 80px;
    height: 80px;
    background: grey;
    margin-top: 10px;
}

.col_container {
    height: 800px;
}

.col {
    vertical-align: top;
    overflow: hidden;
    width: 80px;
    height: 450px;
    display: inline-block;
}

.slidedown {
    animation: scrolldown 18s linear infinite;
}

.slideup {
    animation: scrollup 18s linear infinite;
}

@keyframes scrollup {
    0% {
        margin-top: 0%
    }
    50% {
        margin-top: -30%
    }
    100% {
        margin-top: 00%
    }
}

@keyframes scrolldown {
    0% {
        margin-top: -30%
    }
    50% {
        margin-top: 0%
    }
    100% {
        margin-top: -30%
    }
}

#main_testimonial {
    width: 250px;
    height: 350px;
    z-index: 1;
}

#testimonial_image {
    width: 180px;
    height: 180px;
    background: white;
    margin-left: -30px;
}

#testimonial_content {
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-left: -30px;
    margin-top: 20px;
}

#section4 {
    background: white;
    width: 100%;
    height: 100%;
}

.section4block {
    width: 25%;
    height: 300px;
    display: inline-block;
    margin: 20px;
    display: inline-block;
    overflow: hidden;
}

.day-button {
    margin-top: calc(50% - 50px);
    width: 50px;
    height: 50px;
    background: white;
    border: 2px solid #240f27dd;
    border-radius: 50%;
    color: #240f27dd;
    cursor: pointer;
    font-size: 18px;
    margin-left: 40px;
    font-weight: bold;
}

.section4block .transformed_block_container {
    height: 100px;
    width: 100px;
}

.section4block .title {
    font-size: 18px;
    margin-left: 0px;
}

.day2,
.day3 {
    display: none;
}

#section3p {
    color: white;
    margin-left: 50px;
    text-spacing: 3;
}

@media only screen and (max-width: 600px) {
    #s1 {
        display: none;
    }
    .title {
        font-size: 16px;
    }
    #section1 #main #title {
        font-size: 16px;
    }
    .subtitle {
        font-size: 13px;
    }
    #section1 #main #subtitle {
        font-size: 13px;
        margin-top: 150px;
    }
    #main {
        width: 100%;
    }
    #section1 #main {
        width: 100%;
    }
    #countdown {
        text-align: left;
        margin-top: 50px;
    }
    #section1 .box div {
        font-size: 18px;
    }
    #section1 .box {
        text-align: left;
        width: 50px;
    }
    #s2 {
        width: 150px;
        height: 150px;
        margin-top: 30px;
    }
    #section2 .title {
        width: 100%;
        text-align: center;
    }
    #section2 .subtitle {
        margin-top: 10px;
        width: 100%;
        text-align: center;
    }
    #section2 .main {
        width: 100%;
        margin: 10px;
        overflow: hidden;
    }
    #section2 p {
        font-size: 13px;
        text-align: center;
        width: calc(100% - 20px);
    }
    #section2 .container {
        display: none;
    }
    #section3 .title {
        margin: 10px;
    }
    #section3_main {
        width: 100%;
    }
    #section3p {
        margin-left: 10px;
    }
    #section3_list {
        margin: 10px;
    }
    .section4block {
        height: 130px;
    }
    .section4block .title {
        font-size: 13px;
    }
    #section4 .transformed_block_container {
        width: 50px;
        height: 50px;
        margin: 5px;
    }
    .day-button {
        width: 20px;
        height: 20px;
        border: 1px solid;
        margin-top: 40px;
        font-size: 11px;
        margin-left: 1px;
    }
}
