<footer id="footer">
    <div id="footer-row">
        <iframe id="google-map-container" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJW6tZ4ITo3zgRLxLu5NpKbF8&key=AIzaSyCS9Dw6ge3EmXUDzGgtT2CM4U8ViRFDW9k" allowfullscreen>
        Error Loading Map. Either internet is not available or you are not authorized to see map. Contact the Website Team.
        </iframe>
        <div id="contact-us-container">
            <h1>Contact Us</h1>
            <p><strong>Muhammad Humzah Zaffar</strong>: 0335-6886550</p>
            <p><strong>Muhammad Obaidullah</strong>: 0334-9841289</p>
            <p><strong>GMail</strong>: pieasnationalolympiad19@gmail.com</p>

            <!-- <form id="contact-form" action="#">
                <div class="row">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" required><br>
                </div>
                <div class="row">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div class="row">
                    <label for="message">Message</label>
                    <textarea id="message" name="message" rows="5"></textarea>
                </div>
            </form> -->
        </div>
    </div>
    <div id="quick-links-container">
        <table>
            <thead>
                <tr>
                    <th>Important Links</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a fileName="about-us" href="{{root}}about-us.html">ABOUT US</a></td>
                </tr>
                <tr>
                    <td><a fileName="modules" href="{{root}}modules.html">MODULES</a></td>
                </tr>
                <tr>
                    <td><a fileName="timeline" href="{{root}}timeline.html">TIMELINE</a></td>
                </tr>
                <tr>
                    <td><a fileName="teams" href="{{root}}teams.html">TEAMS</a></td>
                </tr>
                <tr>
                    <td><a fileName="gallery" href="{{root}}gallery.html">GALLERY</a></td>
                </tr>
                <tr>
                    <td><a fileName="contact-us" href="{{root}}contact-us.html">CONTACT US</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="credits">
        <a href="{{root}}teams.html#website">Proudly Created by Web-Team PiON`19</a>
    </div>
</footer>