<footer>
    <div id="footer-row">
        <div id="google-map-container">
            <p>TODO: display google maps</p>
        </div>
        <div id="contact-us-container">
            <center>
                <h2>Contact Us</h2>
                <form id="contact-form" action="#">
                    <label for="email">Email: </label>
                    <input id="email" type="email" name="email" required><br>
                    <label for="password">Password: </label>
                    <input id="password" type="password" name="password" required>
                </form>
            </center>
        </div>
    </div>
    <div id="quick-links-container">
        <table>
            <thead>
                <tr>
                    <td>Internal</td>
                    <td>External</td>
                    <td>Other</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Internal Links1</td>
                    <td>External Links1</td>
                    <td>Others Links1</td>
                </tr>
                <tr>
                    <td>Internal Links2</td>
                    <td>External Links2</td>
                    <td>Others Links2</td>
                </tr>
                <tr>
                    <td>Internal Links3</td>
                    <td>External Links3</td>
                    <td>Others Links3</td>
                </tr>
                <tr>
                    <td>Internal Links4</td>
                    <td>External Links4</td>
                    <td>Others Links4</td>
                </tr>
                <tr>
                    <td>Internal Links5</td>
                    <td>External Links5</td>
                    <td>Others Links5</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="credits">
        <a href="#">Created by Web-Team PiON`19</a>
    </div>
</footer>
