<footer id="footer">
    <div id="main-box">
        <section id="column1" class="column">
            <h2>Our Information</h2>
            <p class="heading-para">Address</p>
            <p><a href="http://www.pieas.edu.pk/">PIEAS, Lehtrar Road, Nilore, Islamabad, Pakistan</a></p>

            <br><br>

            <p class="heading-para">Social Links</p>
            <a class="fa fa-facebook" href="https://www.facebook.com/pion.pieas/"></a>
            <a class="fa fa-instagram" href="https://instagram.com/pion.pieas?igshid=16c0s58wux154"></a>
            <a class="fa fa-twitter" href="https://twitter.com/pieas_pion"></a>
            <a class="fa fa-google" href="mailto:pieasnationalolympiad19@gmail.com"></a>

            <br><br>

            <p class="heading-para">Contacts</p>
            <p>Muhammad Humzah Zaffar: 0335-6886550</p>
            <p>Abdul Ahad: 0331-4554423</p>
        </section>

        <section id="column2" class="column" style="text-align:center">
            <h2>Links</h2><br>
            <a href="/index.html">HOME</a><br>
            <a href="/about-us.html">ABOUT US</a><br>
            <a href="/modules.html">MODULES</a><br>
            <a href="/timeline.html">TIMELINE</a><br>
            <a href="/teams.html">TEAMS</a><br>
            <a href="/gallery.html">GALLERY</a><br>
            <a target="_blank" href="http://pionpieas.com/register">REGISTRATION</a>
            <br><br><br>
            <a href="/teams.html#website">Proudly Created by Web-Team PiON`19</a>
        </section>

        <section id="column3" class="column" style="text-align:center">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28428.375777428584!2d73.24830064218479!3d33.64868960448004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38dfe891ebed759d%3A0xa32f152de2c1790d!2sPakistan%20Institute%20of%20Engineering%20%26%20Applied%20Sciences!5e0!3m2!1sen!2s!4v1571061656688!5m2!1sen!2s"
                width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </section>
    </div>
</footer>