<header id="header">
    <div id="top-bar">
        <a href="{{root}}index.html">
            <img src="{{root}}images/pion19-logo-01.png"  alt="PION`19 LOGO">
        </a>
        <a href="javascript:void(0);" id="nav-menu-control">
            <i class="fa fa-bars"></i>
        </a>
    </div>
    <nav id="nav-menu">
        <a index="0" href="{{root}}index.html" class="active">HOME</a>
        <a index="1" href="{{root}}about-us.html">ABOUT US</a>
        <a index="2" href="{{root}}modules.html">MODULES</a>
        <a index="3" href="{{root}}timeline.html">TIMELINE</a>
        <a index="4" href="{{root}}teams.html">TEAMS</a>
        <a index="5" href="{{root}}gallery.html">GALLERY</a>
        <a index="6" href="{{root}}contact-us.html">CONTACT US</a>
    </nav>
</header>
