<div id="loading-overlay">
    <img src="images/pion19-logo-02.png" id="load-image">
    <div id="loading-container" id="s1">
        <div id="loading-progress"></div>
    </div>
</div>

<header id="header">
    <div id="topbar">
        <a href="/index.html">
            <img src="images/pion19-logo-01.png" id="topbar-logo">
        </a>
        <a href="javascript:void(0);" id="nav-menu-control">
            <i class="fa fa-bars"></i>
        </a>
        <nav id="nav-menu">
            <a href="/index.html">HOME</a>
            <a href="/about-us.html">ABOUT US</a>
            <a href="/modules.html">MODULES</a>
            <a href="/timeline.html">TIMELINE</a>
            <a href="/teams.html">TEAMS</a>
            <a href="/gallery.html">GALLERY</a>
            <a target="_blank" href="http://pionpieas.com/register">REGISTRATION</a>
        </nav>
    </div>
</header>